
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Lato:wght@400;700&family=Libre+Bodoni:wght@400;700&family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.hero{
    /* border: 2px solid red; */
    background: #1d2026;
    /* background:black; */
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;

}

nav{
    /* border: 2px solid rgb(0, 174, 255); */
    display:flex;
    align-items: center;
    padding: 20px 8%;

}
.menu-img{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

.logo{
    width: 160px;
    cursor: pointer;
}

ul{
    list-style: none;
    text-align: right;
    flex:1;

}

li{
   display: inline-block;
   list-style-type:none;
   margin:0 20px;
}
li a:hover{
    color: #00986f;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

button{
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: button 0.5s ;
}
button span{
    display: block;
    background-color: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: button 0.5s ,margin-left 0.5s;
}

.lamp-container{
    /* border: 2px solid green; */
    position: absolute;
    top:-20px;
    left:22%;
    width: 200px;

}
.lamp{
    width:180px;
}
.light{
    position: absolute;
    top: 97%;
    left:41%;
    transform: translatex(-50%);
    width: 700px;
    opacity: -1;
    transition: opacity 0.5s;
}

.text-container{
    /* border: 2px solid rgb(255, 255, 0); */
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
    
}

.text-container h1{
    /* border: 2px solid rgb(78, 131, 55); */
    font-size: 80px;
    font-weight: 400;

}

.text-container a{
    /* border: 2px solid rgb(255, 255, 0); */
    text-decoration: none;
    background: #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top:30px;
    border-radius: 30px;



}
.text-container a:hover{
    background: #fff;
    color: #00986f;
    
}   

.control{
    /* border: 2px solid blueviolet; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.line{
    /* border: 2px solid yellow; */
    width: 250px;
     height: 4px;
    background: #fff;
    margin: 0 20px; 
    border-radius: 2px;
}

.control .line span{
    /* border:2px solid red; */
    width:70%;
    height: 5px;
    margin-top: 0px;
    border-radius: 4px;
    background:#00986f;
    display: block;
}

.active{
    background: #00986f;

}

.active span{
    background: #fff;
    margin-left: 31px;
}
.on{
    opacity: 1;
}